# 以井号开始的行将被忽略
# 程序将读取 main.py 目录下的 timeline.conf，请从本文件复制，以确保其为 utf-8 编码
# 配置示例
# [Mon]
#   6:00 = ["图片_无文字", "D:/资料库/图片", 60]
#   7:00 = ["图片_有文字", "D:/资料库/图片2", 60]
#   8:00 = ["时政", "D:/新闻", 60]
# 配置格式
# (Weekday):
#   (Time) = [(Type), (Path), (Duration)]
# 其中 (Weekday) 可被 Mon/Tue/Wed/Thu/Fri/Sat/Sun 替代
# (Time) - HH:MM 指开始时间 注意应当为24小时制
# (Type) - 图片_无文字/图片_有文字/时政/视频
# (Type) 也可使用英文。pic_noText/pic/news/video
# (Path) - 相关路径。一律使用正斜杠(/)，不要使用反斜杠(\)。可以使用相对路径
# (Duration) - 时长,也就是到下个节目之前的时间,单位为分钟
# 注意 (Type) 与 (Path) 都需要使用英文双引号包起来。英文双引号。英文双引号。重要的话说三遍。
# 在 LINK START!! 之后将从当天时间最接近(优先开始时间在当前时间之前的)节目开始
# 如果当天没有节目,程序将向后寻找.

